.sidebar{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    background-color:#161515;
    padding-top: 60px;
    box-shadow: inset 0 0 2px gray;
    margin-right: 10px;
    width: 15%;
   
  }
.sidebar a{
    display: block;
}




.sidebar ul{
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    display: block;
    color: rgb(89, 127, 161);
    padding: 5px 8px;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 0px 30px 0px 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.sidebar ul li a.active{
    background: rgb(247, 243, 243);
    color: rgb(44, 152, 224)
}
.sidebarcontain >.sidebaricon{
    font-size: 40px;
    color: rgb(29, 157, 216);
    /* text-align: center; */
   
   }

@media screen and (max-width: 770px){
   .sidebar{
    background-color:#0d0e0d;
    /* width: 90px; */
    width: 15vw;
    box-sizing: border-box;
  
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin: 2px 0px 2px 0px; */
   }

   .sidebarcontain >.sidebaricon{
    font-size: 40px;
    color: rgb(29, 157, 216);
    /* text-align: center; */
   
   }
   .sidebarcontain>.sidebarname{
   display: none;
    
   }
   .sidebar ul li a.active{
    background: white;
    border-radius: 0px 20px 0px 20px;
    text-align: center;

}
.sidebar ul li a.active{
    background: rgb(253, 251, 251);
    width: 65px;
     height:70px ;
    
     justify-content: center;
}
}