.key{
    font-size: 12;
    font-weight: bold;
    font-family: sans-serif;
}

.value{
    font-size: 14;
    font-family: sans-serif;
}
.productImgContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.productImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}